<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%- for css in encore.app.css -%}
        <link rel="stylesheet" href="{{ css }}" type="text/css">
    {%- endfor -%}
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }} - 11ty encore">
    <meta property="og:description" content="A starter projects for 11ty using webpack encore">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://disjfa.github.io{{ page.url | url }}">
    <meta property="og:image" content="https://disjfa.github.io/img/social.jpg">
<body>
{% include 'components/navbar.njk' %}
{{ content | safe }}
<br>
<footer class="bg-light">
    <div class="container py-3">
        <div class="row">
            <div class="col-12 col-md">
                <h5>Steps</h5>
                <ol>
                    {%- for p in collections.page -%}
                        {% if p.url !== '/' %}
                            <li>
                                <a href="{{ p.url | url }}">
                                    {{ p.data.title }}
                                </a>
                            </li>
                        {% endif %}
                    {%- endfor -%}
                </ol>
                <h5>Github</h5>
                <a class="nav-link" href="https://github.com/disjfa/eleventy-encore">
                    <i class="fab fa-github"></i>
                    Check the source on github
                </a>
                <h5>Share?</h5>
                <a href="#" class="js-share nav-link" data-title="11ty encore" data-text="A starter projects for 11ty using webpack encore">
                    <i class="fa fa-share-alt"></i> share
                </a>
            </div>
            <div class="col-12 col-md">
                <h5>What is used</h5>
                <ul>
                    <li>
                        <a href="https://www.11ty.io">
                            <i class="fa fa-circle"></i>
                            11ty
                        </a>
                    </li>
                    <li>
                        <a href="https://symfony.com/doc/current/frontend.html">
                            <i class="fa fa-circle"></i>
                            Webpack encore
                        </a>
                    </li>
                    <li>
                        <a href="https://fontawesome.com/">
                            <i class="fab fa-font-awesome"></i>
                            Font Awesome
                        </a>
                    </li>
                    <li>
                        <a href="https://unsplash.com/">
                            <i class="fa fa-circle"></i>
                            Unsplash
                        </a>
                    </li>
                    <li>
                        <a href="https://getbootstrap.com/">
                            <i class="fab fa-bootstrap"></i>
                            Bootstrap
                        </a>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{%- for js in encore.app.js -%}
    <script src="{{ js }}"></script>
{%- endfor -%}
</body>
</html>
