---
layout: layouts/base.njk
title: Home
tags: [page]
---

<div class="bg-light">
    <div class="container">
        <figure class="py-4">
            <img src="https://images.unsplash.com/photo-1562089501-5215229b367a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&h=500&q=80" alt="" class="img-fluid rounded">
            <figcaption>
                Photo by
                <a href="https://unsplash.com/@m_maaris?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
                    Marek Szturc
                </a> on
                <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </figcaption>
        </figure>
    </div>
</div>
<div class="container">
    <h1>11ty using webpack encore</h1>
    <p>
        A quick introduction, there is a static site generator called <a href="https://www.11ty.io">11ty</a>. They seem
        cool and have a cool mascot so we have to implement that!
    </p>
    <p>
        Next up i am fond of <a href="https://symfony.com/doc/current/frontend.html">webpack encore</a>. Easy build
        using webpack.
    </p>

</div>
